{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

<h1>Issue Manager</h1>
<p>Stay organized, resolve issues faster, and keep your team on track with our powerful 
    issue management solution. Designed to streamline workflows and enhance collaboration, 
    our platform helps you track, prioritize, and resolve tasks efficiently. Whether you're 
    managing bugs, project tasks, or customer requests, we provide the tools you need to maintain 
    clarity and control at every stage. Experience seamless issue management that keeps 
    your team focused and your projects moving forward.</p>

{% endblock content %}
